@using Resume.DAL.ViewModels.AboutMe
@model ClientSideEditAboutMeViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="box box-content">
    <!-- About -->
    <div class="pb-0 pb-sm-2">
        <h1 class="title title--h1 first-title title__separate">درباره ی من</h1>
        @Model.Bio
    </div>
	<!-- What -->
    @await Component.InvokeAsync("MyActivity")
    <!-- Testimonials -->
    @await Component.InvokeAsync("CustomerFeedBack")
</div>

