@using Resume.Bussines.Tools
@using Resume.DAL.ViewModels.CustomerLogo
@model EditCustomerLogoViewModel

@{
    ViewData["Title"] = "ویرایش لوگوی کاربران";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    @ViewData["Title"]
                </h2>
            </div>
            <div class="body">
                <form asp-area="Admin" asp-controller="CustomerLogo" asp-action="Update" method="post" enctype="multipart/form-data">
                    <div class="row clearfix">
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="Logo" />
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" asp-for="Link" class="form-control" placeholder="نام و نام خانوادگی">
                                    <span asp-validation-for="Link"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" asp-for="LogoAlt" class="form-control" placeholder="توضیحات">
                                    <span asp-validation-for="LogoAlt"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="file" asp-for="Avatar" id="Avatar" class="form-control" placeholder="پروفایل">
                                    <span asp-validation-for="Avatar"></span>
                                </div>
                            </div>
                            <img src="@(SiteTools.CustomerLogoAvatar + Model.Logo)" id="imgPreview" class="border my-1 mx-auto d-block" width="120px" height="120px">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" class="btn btn-warning btn-lg m-l-15 waves-effect">ویرایش</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgPreview').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]); // convert to base64 string
            }
        }
        $("#Avatar").change(function () {
            readURL(this);
        });
    </script>
}

