@using Resume.Bussines.Tools
@using Resume.DAL.ViewModels.CustomerFeedBack
@model List<CustomerFeedBackViewModel>

<div class="mt-2">
	<h2 class="title title--h3">نظرات</h2>
	<div class="swiper-container js-carousel-review">
		<div class="swiper-wrapper">
			<!-- Item review -->
			@if (Model.Any() && Model != null)
			{
				@foreach (var customer in Model)
				{
					<div class="swiper-slide review-item">
						<svg class="avatar avatar--80" viewBox="0 0 84 84">
							<g class="avatar__hexagon">
								<image xlink:href="@(string.IsNullOrEmpty(customer.Avatar) ? SiteTools.DefaultImageName : (SiteTools.CustomerFeedBackAvatar + customer.Avatar))" alt="@customer.Name" height="100%" width="100%" />
							</g>
						</svg>
						<div class="review-item__textbox">
							<h4 class="title title--h5">@customer.Name</h4>
							<p class="review-item__caption">
								@customer.Description
							</p>
						</div>
					</div>
				}
			}
		</div>
		<div class="swiper-pagination"></div>
	</div>
</div>