@using Resume.DAL.ViewModels.ContactUs
@model ContactUsDetailsViewModel

@{
    Layout = null;
}

<div style="direction: rtl; padding: 20px">
    <p>پاسخ تماس با مای شما :</p>
    <p>@Model.Answer</p>
</div>