@using Resume.DAL.ViewModels.Experience
@using Resume.Bussines.Convertor
@model List<ExperienceViewModel>

<div class="col-12">
	<h2 class="title title--h3"><img class="title-icon" src="/site/icons/icon-experience.svg" alt=""> تجربه</h2>
	<div class="timeline">
		@if (Model.Any() && Model != null)
		{
			@foreach (var experience in Model)
			{
				<article class="timeline__item">
					<h5 class="title title--h5 timeline__title">@experience.Title</h5>
					<span class="timeline__period">@experience.StartDate.ToShams() - @(experience.EndDate.HasValue ? experience.EndDate.Value.ToShams() : "مشغول به کار هستم")</span>
					<p class="timeline__description">
						@experience.Description
					</p>
				</article>
			}
		}
	</div>
</div>