@{
    ViewData["Title"] = "رزومه";
}

<div class="box box-content">
	<div class="pb-2">
		<h1 class="title title--h1 first-title title__separate">رزومه</h1>
	</div>

	<!-- Experience -->
	<div class="row">
		@await Component.InvokeAsync("Education")

		@await Component.InvokeAsync("Experience")
	</div>

	<!-- Skills -->
	@await Component.InvokeAsync("Skil")
</div>

