@using Resume.DAL.ViewModels.Activity
@model List<ActivityDetailsViewModel>

<div class="mt-1">
	<h2 class="title title--h3">کاری که انجام می دهم</h2>
	<div class="row">
		<!-- Case Item -->
		@if (Model.Any() && Model != null)
		{
			@foreach (var activity in Model)
			{
				<div class="col-12 col-lg-@activity.ColumnLg">
					<div class="nav__item">
						<i class="icon-@activity.Icon"></i>
						<div>
							<h3 class="title title--h4">@activity.Title</h3>
							<p class="case-item__caption">
								@activity.Description
							</p>
						</div>
					</div>
				</div>
			}
		}
	</div>
</div>
